/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
:root {
  --foreground-color: #000; /* Black */
  --background-color: #fff; /* White */
  --h1-text-color: #1a202c; /* Dark Slate Gray - for light mode */
}

/* Dark mode styles */
.dark {
  --foreground-color: #fff; /* White */
  --background-color: #2d3748; /* Navy Blue - for dark mode background */
  --h1-text-color: #63b3ed; /* Light Sky Blue - for dark mode H1 text */
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

/* Apply base styles for H1 - these styles will be common across light/dark modes */
h1 {
  color: var(--h1-text-color);
  font-size: 3rem; /* Adjust size accordingly */
  line-height: 1.2; /* Adjust line height for better readability */
  font-weight: 700; /* Bold font weight for headings */
  margin: 0.67em 0; /* Provide top and bottom margin to separate from other content */
  text-transform: uppercase; /* Uppercase text - remove if not desired */
  letter-spacing: 0.05em; /* Adjust letter spacing to your preference */
}

/* Additional responsive typography for H1 can be defined using Tailwind's responsive modifiers or regular media queries */
@media (min-width: 768px) {
  h1 {
    font-size: 4rem; /* Larger font size for wider screens */
  }
}
