/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
:root {
  --foreground-color: #000; /* Black */
  --background-color: #fff; /* White */
  --h1-text-color: #1a202c; /* Dark Slate Gray - for light mode */
}

/* Dark mode styles */
.dark {
  --foreground-color: #fff; /* White */
  --background-color: #2d3748; /* Navy Blue - for dark mode background */
  --h1-text-color: #63b3ed; /* Light Sky Blue - for dark mode H1 text */
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

h1 {
  color: var(--h1-text-color);
  font-size: 3rem; 
  line-height: 1; 
  font-weight: 700; 
  margin: 0 2rem 2rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 2rem 2rem 2rem;
}

/* Responsive Headers */
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    text-align: left;
    margin-left: 2rem;
  }
}

/* 3D Image following cursor on homepage */
.item-3d {
  margin: 4rem auto;
  width: 50%;
  height: 50%;
  justify-content: center;
  text-align: center;
  border: 1px solid;
  transform: rotateX(0) rotateY(0);
}
