/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
:root {
  --foreground-color: #000; /* Black */
  --background-color: #fff; /* White */
  --h1-text-color: #1a202c; /* Dark Slate Gray - for light mode */
}

/* Dark mode styles */
.dark {
  --foreground-color: #fff; /* White */
  --background-color: #2d3748; /* Navy Blue - for dark mode background */
  --h1-text-color: #63b3ed; /* Light Sky Blue - for dark mode H1 text */
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  margin: 1rem;
}

h1 {
  color: var(--h1-text-color);
  font-size: 2rem; 
  line-height: 1; 
  font-weight: 700; 
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 2rem 2rem 2rem;
  text-align: center;
}

/* Responsive Headers */
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    text-align: left;
    margin-left: 2rem;
  }
  h2 {
    font-size: 2rem;
    text-align: left;
    margin-left: 2rem;
  }
}

/* 3D Image following cursor on homepage */
.item-3d {
  margin: 4rem auto;
  width: 50%;
  height: 50%;
  justify-content: center;
  text-align: center;
  transform: rotateX(0) rotateY(0);
}

/* Projects Page */
.projects-container {
  max-width: 75vw;
  margin: auto;
  padding: 20px;
}

.project-section {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 20px;
  transition: font-size 0.3s ease;
}

.project-title:hover {
  font-size: 28px;
  color:darkblue
}

.project-description,
.project-overview,
.project-background,
.project-note {
  margin-bottom: 20px;
}

.project-features,
.project-tech-stack,
.project-get-started,
.project-technologies {
  list-style-type: none;
  padding: 0;
}

.project-features li,
.project-tech-stack li,
.project-get-started li,
.project-technologies li {
  margin-bottom: 10px;
}
